.tableList table {
  table-layout: fixed;
}

.tableList th:nth-child(odd) {
  width: 36px;
}

.tableList th:nth-child(even) {
  width: 160px;
}

.tableList th:nth-last-child(2) {
  width: 200px;
}

.tableList th:last-child {
  width: initial;
}
